html,
body {
    scroll-behavior: smooth;
    background-color: rgb(2, 0, 28);
    height: 100%;
    width: 100%;
    margin: 0;
}

ul {
    list-style-type: none;
    margin-right: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #01A0FA;
    transition: 1s;
}

h1 {
    color: white;
    font-size: 13vw;
    margin-left: 2rem;
    font-family: 'Dosis', sans-serif;
}


/*hero*/

h2 {
    color: white;
    font-size: 9vw;
    margin-top: 1rem;
    margin-left: 2rem;
    font-family: 'Dosis', sans-serif;
}


/*hero2*/

h3 {
    color: #009DF5;
    font-family: 'Dosis', sans-serif;
    font-size: 24px;
}


/*skills*/

h4 {
    color: #009DF5;
    font-size: 30px;
    font-family: 'Dosis', sans-serif;
    margin: 0px;
}


/*project title*/

h5 {
    color: white;
    font-family: 'Dosis', sans-serif;
    font-size: 22px;
    margin: 1rem 0 0 0;
    word-spacing: 2rem;
}


/*project used technologies*/

.description {
    color: #6BB8FF;
    font-size: 20px;
    line-height: 1.9rem;
    text-align: justify;
    font-family: 'Dosis', sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/*project description*/

p {
    color: #6BB8FF;
    font-size: 20px;
    line-height: 2.5rem;
    font-family: 'Dosis', sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    color: white;
    font-size: 30px;
    font-family: 'Dosis', sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* yellow: #ffcc33
light-blue: #01A0FA 
original-blue: #2b61c6 */

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.9rem;
    height: 50px;
    width: 100%;
    padding: 10px;
    overflow-x: hidden !important;
    position: fixed;
    float: right;
    background: rgb(2, 0, 28);
    top: 0;
    margin: 0px;
    margin-right: 20%;
}

.burger {
    height: 35px;
}

.navbar li {
    visibility: visible;
    color: white;
}

.social {
    height: 50px;
    margin-left: 1rem;
    margin-top: 0;
}


/*img styling*/

.social:hover {
    height: 55px;
    transition: 0.7s;
}

.social-links {
    float: right;
    z-index: 999;
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 0;
    margin-top: 1rem
}

.hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 10%;
    padding: 0;
    border: 0;
    transition-delay: 2s;
    transition: ease-in;
    margin-bottom: 20%;
}

.heropic {
    width: 80%;
    height: auto;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: 1rem;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 1.5rem;
    margin-bottom: 20%;
}

.profilbild {
    max-width: 90%;
    border-radius: 8px;
    border: 1px solid #01A0FA;
}

.skills {
    text-align: center;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: 10% 40% 10% 40%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    justify-items: left;
    align-items: center;
    margin-left: 1.5rem;
    margin-bottom: 20%;
}

.icon {
    height: 30px;
    width: 30px;
    /*background-color: rgb(33, 30, 102);*/
    padding: 5px;
    border-radius: 5px;
}

.caption {
    font-size: 15px;
    color: white;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20%;
}

.project-card {
    width: 90%;
    height: auto;
    border-radius: 8px;
    border: 1px solid #01A0FA;
    background-color: #00143B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem 2rem 2rem;
}

.inner-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.description {
    max-width: 100%;
}

.project-button {
    background-color: #01A0FA;
    margin-right: 30px;
    margin-left: 20px;
    padding: 10px 30px 10px 30px;
    border: none;
    border-radius: 8px;
    color: white;
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.project-button:hover {
    background-color: #6BB8FF;
}

.project-button-container {
    display: flex;
    flex-direction: row;
}

.screenshot {
    max-width: 90%;
    justify-content: center;
    border-radius: 8px;
    margin-left: 1rem;
    margin-top: 2rem;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-bottom: 5%;
    margin-top: 20%;
    font-family: 'Dosis', sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.input {
    margin-top: 20px;
    background-color: transparent;
    font-family: 'Dosis', sans-serif;
    color: #01A0FA;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid #01A0FA;
    width: 90%;
}

.input-message {
    margin-top: 40px;
    background-color: transparent;
    font-family: 'Dosis', sans-serif;
    color: #01A0FA;
    font-size: 18px;
    border: 1px solid #01A0FA;
    border-radius: 8px;
    width: 90%;
}

.contact-button {
    background-color: #01A0FA;
    margin-top: 20px;
    margin-bottom: 100px;
    padding: 15px 32px;
    width: 150px;
    border: none;
    border-radius: 8px;
    color: white;
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.contact-button:hover {
    background-color: #6BB8FF;
}

.menu {
    display: none;
}